# Build results
bin/
obj/
debug/
release/

# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# OS
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
.nuget/

# IDE
*.sln
